# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

*.env
.env
*.env.dev
.env.dev

lib/env/env.g.dart
/lib/env/env.g.dart
*lib/env/env.g.dart
*/lib/env/env.g.dart

*.g.dart
*.g